
.container {
    position: relative;
    /* border: 1px solid #ccc; Example styling */
    /* padding: 20px; */
  }
  
  .question-mark {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #dddddd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .question-mark:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  